<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TextToImageUrl" value="https://ai-image-generator3.p.rapidapi.com/generate"/>
		<add key="XAPIKey" value="71db92f525mshf7ba379e5f9657fp1bb3fcjsnce9b5bba36ee"/>
		<add key="XAPIHost" value="ai-image-generator3.p.rapidapi.com"/>
	</appSettings>
</configuration>